In [1]:

key ="2201050767bb417f928e06c7166304c6b41e485d"
b_key ="641DEDB0-361B-441D-BF2E-215378D97EB4"
from census import Census
from us import states
%matplotlib inline
import seaborn as sns


import matplotlib.pyplot as plt
import numpy as np
import requests
import pandas as pd
pd.options.mode.chained_assignment = None 
import os
import requests
import urllib.request, json 
import pybea


c = Census(key)

In [2]:


data = pybea.get_data(b_key,
                      DataSetName='RegionalIncome',
                      TableName='CA1',
                      LineCode=1,
                      GeoFips='COUNTY',
                      Year=[ '2016'],
                      ResultFormat='JSON')
data = pd.DataFrame(data)
data =data.drop_duplicates()
data = data.rename(index =str, columns = {"GeoFips":"geo_id","DataValue":"income_p_capita"})
data = data.drop(["CL_UNIT","Code","NoteRef","TimePeriod","UNIT_MULT"], axis = 1)

In [3]:
df = pd.read_excel("County_Rural_Lookup.xlsx")
df = df.drop("Unnamed: 8", axis =1)

In [4]:
df.columns = df.iloc[2]
df = df.drop([0, 1,2])
df = df.drop([3145, 3146,3147,3148,3149,3150])
df = df.rename(columns ={"2010 Census \nPercent Rural":"percent_rural"})
df = df.rename(columns = {"2015 GEOID": "geo_id"} )

In [5]:
rural = df[df.percent_rural >= 99.9]

len(rural)

704

In [6]:
m_rural = df[(df.percent_rural < 99.9) & (df.percent_rural > 49.9 )]
len(m_rural)

1185

In [7]:
urban = df[df.percent_rural <= 49.9]
len(urban)

1253

In [8]:
areas = pd.read_csv("final_county.csv")

In [9]:
areas = areas.drop(["Unnamed: 0" ,"B01001_003E","B01001_004E","B01001_005E","B01001_006E"
                   ,"B01001_027E","B01001_028E","B01001_029E","B01001_030E"],axis = 1)

In [10]:
areas.County = areas.County.astype(str)

In [11]:
areas['County'] = areas['County'].str.zfill(3)

In [12]:
areas.State = areas.State.astype(str)
areas['State'] = areas['State'].str.zfill(2)

In [13]:
areas["geo_id"] = areas.State + areas.County

In [14]:
unemployment = pd.read_excel("laucntycur14.xlsx")
unemployment.columns = unemployment.iloc[3]

unemployment = unemployment.drop([0, 1,2,3,4])

unemployment = unemployment.rename(index=str,columns ={"(%)":"unemployment_rate"})
unemployment["geo_id"] = unemployment["S_Code"] + unemployment["Code"]
unemployment.head()

3,LAUS Code,S_Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,unemployment_rate,geo_id
5,CN0100100000000,01,001,"Autauga County, AL",Jun-17,26128,25015,1113,4.3,01001
6,CN0100300000000,01,003,"Baldwin County, AL",Jun-17,94176,90303,3873,4.1,01003
7,CN0100500000000,01,005,"Barbour County, AL",Jun-17,8328,7799,529,6.4,01005
8,CN0100700000000,01,007,"Bibb County, AL",Jun-17,8557,8139,418,4.9,01007
9,CN0100900000000,01,009,"Blount County, AL",Jun-17,24626,23533,1093,4.4,01009

In [15]:
x = rural.loc[:, ['geo_id']]
areas.head()

,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,Multiple,...,ninety,h_above_poverty,Median Household Income,acs_laborf,acs_unemployed,Name,County,State,under_18,geo_id
0,58.2,4.0,76,55.0,0.0,3.0,0.0,0.0,0.0,6.0,...,0.0,17.0,56875.0,39.0,0.0,"Loving County, Texas",301,48,6.0,48301
1,56.5,8.6,91,29.0,0.0,0.0,21.0,28.0,0.0,10.0,...,0.0,13.0,65625.0,76.0,0.0,"Kalawao County, Hawaii",005,15,1.0,15005
2,39.8,10.5,274,210.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,63.0,57083.0,171.0,7.0,"King County, Texas",269,48,56.0,48269
3,48.0,5.2,425,413.0,0.0,0.0,0.0,0.0,0.0,8.0,...,2.0,112.0,53750.0,213.0,0.0,"McPherson County, Nebraska",117,31,93.0,31117
4,41.0,6.0,437,426.0,0.0,0.0,0.0,0.0,1.0,10.0,...,4.0,99.0,40375.0,190.0,7.0,"Arthur County, Nebraska",005,31,138.0,31005

In [16]:
rural_result = pd.merge(x, areas, on='geo_id')

In [17]:
rural_result = pd.merge(rural_result,unemployment, on ="geo_id")

rural_result = rural_result[rural_result["Period"] == "Jun-18"]

len(rural_result)
rural_result.to_excel("final_rural.xlsx")
#df3 = df1[(~df1.col1.isin(common.col1))

In [18]:
data["geo_id"] = data["geo_id"].str.zfill(5)
rural_result = pd.merge(rural_result,data, on ="geo_id")
rural_result.to_excel("bea_final_rural.xlsx")

In [19]:
len(rural_result)

703

x = urban.loc[:, ['geo_id']]
urban_result = pd.merge(x, areas, on='geo_id')

In [20]:
x = urban.loc[:, ['geo_id']]
urban_result = pd.merge(x, areas, on='geo_id')
len(urban_result)

1253

In [21]:
urban_result = pd.merge(urban_result,unemployment, on ="geo_id")


urban_result = urban_result[urban_result["Period"] == "Jun-18"]
len(urban_result)
urban_result.to_excel("final_urban.xlsx")

In [22]:
d = pd.read_excel("test_d_final.xlsx")
d["geo_id"] = d["geo_id"].astype(str)
d["geo_id"] = d["geo_id"].str.zfill(5)

test_urban = pd.merge(urban_result,d, on ="geo_id")
test_urban.to_excel("beafinal_urban.xlsx")
len(test_urban)

1239

In [23]:
x = m_rural.loc[:, ['geo_id']]
m_rural_result = pd.merge(x, areas, on='geo_id')

In [24]:
m_rural_result = pd.merge(m_rural_result,unemployment, on ="geo_id")

m_rural_result = m_rural_result[m_rural_result["Period"] == "Jun-18"]
m_rural_result.to_excel("final_mrural.xlsx")
testm_rural = pd.merge(m_rural, d, on ="geo_id")
testm_rural.to_excel("beafinal_mrural.xlsx")
#y = pd.merge(m_rural_result, testm_rural, on ="geo_id", how = "outer",indicator = True)