In [7]:

key ="2201050767bb417f928e06c7166304c6b41e485d"
from census import Census
from us import states
%matplotlib inline
    
import matplotlib.pyplot as plt
import numpy as np
import requests
import pandas as pd
pd.options.mode.chained_assignment = None 
import os
import requests
import urllib.request, json 


c = Census(key)
temp = "B15003_009E"
x = c.acs5.state(("NAME","B03002_012E","B01003_001E"),"01")
x[0]["B03002_012E"]/x[0]["B01003_001E"]

0.039970345974645764

In [2]:
x = c.acs5.get(('NAME', 'B01003_001E','B05002_013E','B05002_013M','B01002_001E','B01002_001M',
                'B03002_003E','B03002_004E','B03002_005E','B03002_006E','B03002_009E',
                'B03002_007E','B03002_008E','B06012_002E','B05010_001E','B19013_001E','B08303_001E',
                'B08303_002E','B03002_012E',
               'B08303_003E','B08303_004E','B08303_005E','B08303_006E','B08303_007E','B08303_008E',
               'B08303_009E','B08303_010E','B08303_011E','B08303_012E','B08303_013E',
                'B06009_001E','B06009_002E','B06009_003E','B06009_004E','B06009_005E','B06009_006E',
                "B19013_001E",
                "B01001_003E","B01001_004E","B01001_005E","B01001_006E","B01001_027E"
                ,"B01001_028E","B01001_029E","B01001_030E","B17012_019E","B08131_001E","B23025_005E",
                "B23025_002E"
                
               ),
          {'for': '{}'.format("county")})

In [3]:
new_df =pd.DataFrame(x)
new_df.head()

,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01002_001E,B01002_001M,...,B08303_011E,B08303_012E,B08303_013E,B17012_019E,B19013_001E,B23025_002E,B23025_005E,NAME,county,state
0,1680.0,2003.0,2112.0,1327.0,1492.0,1816.0,2127.0,1296.0,37.8,0.5,...,1383.0,719.0,544.0,13273.0,53099.0,26008.0,1437.0,"Autauga County, Alabama",001,01
1,5876.0,6197.0,6399.0,4106.0,5556.0,6316.0,6175.0,3645.0,42.3,0.3,...,8729.0,4957.0,1841.0,45500.0,51365.0,93872.0,5887.0,"Baldwin County, Alabama",003,01
2,740.0,875.0,812.0,516.0,732.0,838.0,777.0,445.0,38.7,0.6,...,725.0,408.0,229.0,4777.0,33956.0,10316.0,1323.0,"Barbour County, Alabama",005,01
3,471.0,643.0,812.0,569.0,679.0,542.0,695.0,345.0,40.2,0.9,...,1440.0,513.0,104.0,4654.0,39776.0,9002.0,643.0,"Bibb County, Alabama",007,01
4,1818.0,1644.0,2211.0,1230.0,1694.0,2136.0,1702.0,1166.0,40.8,0.4,...,4346.0,2911.0,649.0,13559.0,46212.0,22969.0,1367.0,"Blount County, Alabama",009,01

In [4]:
new_df = new_df.rename(index=str, columns={ "NAME":"Name", 'B05002_013E':"Foreign Born",'B03002_007E':'Native Hawaiian',
                                           "B01003_001E":"Population","state":"State",
                                           "county": "County",'B01002_001E': 'Median Age', 
                                           "B05002_013E":"Foreign Born",
                                           "B05002_013M": "Foreign Born ME", 'B01002_001M':
                                           'Median Age ME','B03002_003E':'White',
                                         'B03002_004E':'Black','B03002_005E':'Native American',
                                         'B03002_006E':'Asian','B03002_012E':'Hispanic',
                                         'B03002_008E':'Other','B03002_009E':'Multiple',
                                         'B19013_001E':'Median Household Income',
                                         'B05010_001E':'Child Poverty Ratio','B06012_002E':'Poor',
                                           "B08131_001E":"agg_travel_time", "B23025_005E": 'acs_unemployed',
                                           'B23025_002E':'acs_laborf'
                                        
                                        })
new_df = new_df.rename(index=str, columns={ 'B08303_002E':'under5','B08303_003E':'five',
                                          'B08303_004E':'ten','B08303_005E':'fifteen',
                                           'B08303_006E':'twenty','B08303_007E':'twenty5',
                                           'B08303_008E':'thirty','B08303_009E':'thirty5',
                                          'B08303_010E':'fourty','B08303_011E':'fourty5',
                                          'B08303_012E':'sixty','B08303_013E':'ninety',
                                           'B08303_001E':'work_time', 
                                           'B19013_001E':'median_household_income',
                                           'B17012_019E':'h_above_poverty'
                                           
                                          } )
new_df = new_df.rename(index=str, columns={ 'B06009_001E':'total_ed','B06009_002E':'below_hs',
                                           'B06009_003E':'hs_grad','B06009_004E':'some_college',
                                           'B06009_005E':'bachelor_deg','B06009_006E':'graduate_deg' })
                                           
new_df["Population"] = new_df["Population"].astype(int)
new_df = new_df.sort_values(by='Population', ascending = True)
new_df["under_18"] = new_df["B01001_027E"] + new_df["B01001_028E"] + new_df["B01001_029E"] + new_df["B01001_030E"] + new_df["B01001_003E"] + new_df["B01001_004E"] + new_df["B01001_005E"] + new_df["B01001_006E"]

In [6]:
new_df.to_csv("final_county.csv")