In [1]:

key ="2201050767bb417f928e06c7166304c6b41e485d"
from census import Census
from us import states
%matplotlib inline
    
import matplotlib.pyplot as plt
import numpy as np
import requests
import pandas as pd
pd.options.mode.chained_assignment = None 
import os
import requests
import urllib.request, json 


c = Census(key)

In [10]:
test = pd.read_csv("data/county.csv")

In [11]:
test.head()

,Unnamed: 0,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,Multiple,Foreign Born,Foreign Born ME,Child Poverty Ratio,Poor,Median Household Income,Name,County,State
0,2673,58.2,4.0,76,55.0,0.0,3.0,0.0,0.0,0.0,6.0,9.0,10.0,3.0,12.0,56875.0,"Loving County, Texas",301,48
1,548,56.5,8.6,91,29.0,0.0,0.0,21.0,28.0,0.0,10.0,11.0,9.0,0.0,11.0,65625.0,"Kalawao County, Hawaii",5,15
2,2657,39.8,10.5,274,210.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,36.0,50.0,9.0,57083.0,"King County, Texas",269,48
3,1712,48.0,5.2,425,413.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,9.0,93.0,78.0,53750.0,"McPherson County, Nebraska",117,31
4,1656,41.0,6.0,437,426.0,0.0,0.0,0.0,0.0,1.0,10.0,1.0,3.0,137.0,35.0,40375.0,"Arthur County, Nebraska",5,31

In [16]:
test["County"] = test["County"].astype(str)
test["State"] = test["State"].astype(str)

test["county_fips"] = test["County"].str.zfill(3) + test["State"].str.zfill(2)

In [17]:
test.head()

,Unnamed: 0,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,Multiple,Foreign Born,Foreign Born ME,Child Poverty Ratio,Poor,Median Household Income,Name,County,State,county_fips
0,2673,58.2,4.0,76,55.0,0.0,3.0,0.0,0.0,0.0,6.0,9.0,10.0,3.0,12.0,56875.0,"Loving County, Texas",301,48,30148
1,548,56.5,8.6,91,29.0,0.0,0.0,21.0,28.0,0.0,10.0,11.0,9.0,0.0,11.0,65625.0,"Kalawao County, Hawaii",5,15,00515
2,2657,39.8,10.5,274,210.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,36.0,50.0,9.0,57083.0,"King County, Texas",269,48,26948
3,1712,48.0,5.2,425,413.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,9.0,93.0,78.0,53750.0,"McPherson County, Nebraska",117,31,11731
4,1656,41.0,6.0,437,426.0,0.0,0.0,0.0,0.0,1.0,10.0,1.0,3.0,137.0,35.0,40375.0,"Arthur County, Nebraska",5,31,00531

In [18]:
len(test)

3220

In [19]:
test.to_csv("data/mac.csv")